.modalRegistrarse {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
}

@media only screen and (max-width: 576px) {
    .modalRegistrarse {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50%;
    }
}


@media only screen and (max-width: 768px) {
    .modalRegistrarse {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 50%;
    }
}